@(schemaDefForm: Form[SchemaDef])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@main("Create Step By Step") {
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <h4 class="panel-title">
                    <a href="@controllers.admin.routes.SchemaDefController.list"><span class="glyphicon glyphicon-menu-left" aria-hidden="true" style="margin-right: 50px; color: dodgerblue"></span></a>
                    Create new Schema
                </h4>
            </div>
        </div>
        <div class="panel-body">
            <form action="@controllers.admin.routes.SchemaDefController.newSchemaDef()" method="post">
                @b3.text(schemaDefForm("name"), '_label -> "name")
                <div class="btn-group pull-right" style="padding-top: 10px;">
                    <button type="submit" class="btn btn-success btn-md">Create</button>
                </div>
            </form>
        </div>
    </div>
}