@(tableDefForm: Form[TableDef])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@main("Table Detail") {
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <h4 class="panel-title" style="padding-top: 5.5px">
                    <a href="@controllers.admin.routes.SchemaDefController.read(tableDefForm.get().getSchemaDef.getId)"><span class="glyphicon glyphicon-menu-left" aria-hidden="true" style="margin-right: 50px; color: dodgerblue"></span></a>
                    Edit Table
                </h4>
            </div>
            <div class="btn-group btn-group-sm pull-right">
                <a href="@controllers.admin.routes.TableDefController.read(tableDefForm.get().getId)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:red"></span></a>
            </div>
        </div>
        <div class="panel-body">
            @b3.form(controllers.admin.routes.TableDefController.update(tableDefForm.get().getId)) {
                @b3.text(tableDefForm("id"), '_label -> "ID: ", 'disabled -> "")
                @b3.text(tableDefForm("name"), '_label -> "Name: ")
                <div class="form-group">
                    <label class="control-label col-md-2">ColumnDef:</label>
                    <div class="col-md-10">
                        <div class="table-list-box">
                            <table class="table table-hover table-list">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;">
                                            #
                                        </th>
                                        <th style="width: 5%;">
                                            Id
                                        </th>
                                        <th style="width: 15%;">
                                            Name
                                        </th>
                                        <th style="width: 15%;">
                                            Datatype
                                        </th>
                                        <th style="width: 10%">
                                            Is Primary
                                        </th>
                                        <th style="width: 10%">
                                            Nullable
                                        </th>
                                        <th style="width: 20%;">
                                            Created At
                                        </th>
                                        <th style="width: 20%;">
                                            Modified At
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for((columnDef, index) <- tableDefForm.get().getColumnDefList.zipWithIndex) {
                                    <tr class="">
                                        <td style="width: 5%;">
                                            @{index + 1}
                                        </td>
                                        <td style="width: 5%;">
                                            @columnDef.getId
                                        </td>

                                        <td style="width: 15%;">
                                            <input type="text" class="form-control" value="@columnDef.getName">
                                        </td>
                                        <td style="width: 15%;">
                                            <input type="text" class="form-control" value="@columnDef.getDataType()">
                                        </td>
                                        <td style="width: 10%;">



                                            <input type="text" class="form-control" value="@columnDef.isPrimary()">
                                        </td>
                                        <td style="width: 10%;">
                                            <input type="text" class="form-control" value="@columnDef.isNotNull()">
                                        </td>
                                        <td style="width: 20%;">
                                            @columnDef.getCreatedAtFromNow
                                        </td>
                                        <td style="width: 20%;">
                                            @columnDef.getModifiedAtFromNow
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
                @b3.text( tableDefForm("createdAt"), '_label -> "createdAt: ", 'disabled -> "")
                @b3.text( tableDefForm("modifiedAt"), '_label -> "modifiedAt: ", 'disabled -> "")

                <button type="submit" class="btn btn-success pull-right">Save</button>
            }
        </div>
    </div>
}
