@(tableDefForm: Form[TableDef])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@main("TableDef") {
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <h4 class="panel-title" style="padding-top: 5.5px;">
                    <a href="@controllers.admin.routes.SchemaDefController.read(tableDefForm.get().getSchemaDef.getId)"><span class="glyphicon glyphicon-menu-left" aria-hidden="true" style="margin-right: 50px; color: dodgerblue"></span></a>
                    View Table
                </h4>
            </div>
            <div class="btn-group pull-right">
                <a href="@controllers.admin.routes.TableDefController.delete(tableDefForm.get().getId)" class="btn btn-default btn-sm" data-confirm="Are you sure?" data-method="delete"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red"></span></a>
                <a href="@controllers.admin.routes.TableDefController.edit(tableDefForm.get().getId)" type="button" class="btn btn-default btn-sm">Edit</a>
            </div>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                @b3.text( tableDefForm("id"), '_label -> "ID: ", 'disabled -> "")
                @b3.text( tableDefForm("name"), '_label -> "Name: ", 'disabled -> "")
                <div class="form-group">
                    <label class="control-label col-md-2">ColumnDef:</label>
                    <div class="col-md-10">
                        <div class="table-list-box">
                            <table class="table table-hover table-list">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;">
                                            #
                                        </th>
                                        <th style="width: 10%;">
                                            Id
                                        </th>
                                        <th style="width: 10%;">
                                            Name
                                        </th>
                                        <th style="width: 15%;">
                                            Datatype
                                        </th>
                                        <th style="width: 10%">
                                            Is Primary
                                        </th>
                                        <th style="width: 10%">
                                            Nullable
                                        </th>
                                        <th style="width: 20%;">
                                            Created At
                                        </th>
                                        <th style="width: 20%;">
                                            Modified At
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for((columnDef, index) <- tableDefForm.get().getColumnDefList.zipWithIndex) {
                                    <tr class="clickable-row" data-href="@controllers.admin.routes.ColumnDefController.read(columnDef.getId)">
                                        <td style="width: 5%;">
                                            @{index + 1}
                                        </td>
                                        <td style="width: 10%;">
                                            @columnDef.getId
                                        </td>
                                        <td style="width: 10%;"c>
                                            @columnDef.getName
                                        </td>
                                        <td style="width: 15%;">
                                            @columnDef.getDataType()
                                        </td>
                                        <td style="width: 10%;">
                                            @columnDef.isPrimary()
                                        </td>
                                        <td style="width: 10%;">
                                            @columnDef.isNullable()
                                        </td>
                                        <td style="width: 20%;">
                                            @columnDef.getCreatedAtFromNow
                                        </td>
                                        <td style="width: 20%;">
                                            @columnDef.getModifiedAtFromNow
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                @b3.text( tableDefForm("createdAt"), '_label -> "createdAt: ", 'disabled -> "")
                @b3.text( tableDefForm("modifiedAt"), '_label -> "modifiedAt: ", 'disabled -> "")
            </form>
        </div>
    </div>
}