@(schemaDefForm: Form[SchemaDef])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@main("Schema Detail") {
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="pull-left">
                        <h4 class="panel-title" style="padding-top: 5.5px">
                            <a href="@admin.routes.SchemaDefController.index"><span class="glyphicon glyphicon-menu-left" aria-hidden="true" style="margin-right: 50px; color: dodgerblue"></span></a>
                            Edit Schema
                        </h4>
                    </div>
                    <div class="btn-group btn-group-sm pull-right">
                        <a href="@admin.routes.SchemaDefController.show(schemaDefForm.get().getId)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:red"></span></a>
                    </div>
                </div>
                <div class="panel-body">
                    @b3.form(admin.routes.SchemaDefController.update(schemaDefForm.get().getId)) {
                        @b3.text(schemaDefForm("id"), '_label -> "ID: ", 'disabled -> "")
                        @b3.text(schemaDefForm("name"), '_label -> "Name: ")
                        <div class="form-group" id="tableDefList_field">
                            <label class="control-label col-md-2">TableDef:</label>
                            <div class="col-md-10">
                                <div class="table-list-box">
                                    <table class="table table-hover table-list">
                                        <thead>
                                            <tr>
                                                <th style="width: 10%;">
                                                    #
                                                </th>
                                                <th style="width: 10%;">
                                                    Id
                                                </th>
                                                <th style="width: 20%;">
                                                    Name
                                                </th>
                                                <th style="width: 20%">
                                                    # Of Columns
                                                </th>
                                                <th style="width: 20%;">
                                                    Created At
                                                </th>
                                                <th style="width: 20%;">
                                                    Modified At
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @for((tableDef, index) <- schemaDefForm.get().getTableDefList.zipWithIndex) {
                                            <tr>
                                                <td style="width: 10%;">
                                                @{
                                                    index + 1
                                                }
                                                </td>
                                                <td style="width: 10%;">
                                                @tableDef.getId
                                                </td>
                                                <td style="width: 20%;">
                                                @tableDef.getName
                                                </td>
                                                <td style="width: 20%;">
                                                @tableDef.getColumnDefList.size()
                                                </td>
                                                <td style="width: 20%;">
                                                @tableDef.getCreatedAt
                                                </td>
                                                <td style="width: 20%;">
                                                @tableDef.getModifiedAt
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="tableDefList_field">
                            <label class="control-label col-md-2">ForeignKeys:</label>
                            <div class="col-md-10">
                                <div class="table-list-box">
                                    <table class="table table-hover table-list">
                                        <thead>
                                            <tr>
                                                <th style="width: 10%;">
                                                    #
                                                </th>
                                                <th style="width: 10%;">
                                                    Id
                                                </th>
                                                <th style="width: 20%;">
                                                    Name
                                                </th>
                                                <th style="width: 20%">
                                                    # Of Columns
                                                </th>
                                                <th style="width: 20%;">
                                                    Created At
                                                </th>
                                                <th style="width: 20%;">
                                                    Modified At
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @for((foreignKey, index) <- schemaDefForm.get().getForeignKeyList.zipWithIndex) {
                                            <tr>
                                                <td style="width: 10%;">
                                                @{
                                                    index + 1
                                                }
                                                </td>
                                                <td style="width: 10%;">
                                                @foreignKey.getId
                                                </td>
                                                <td style="width: 20%;">
                                                @foreignKey.getName
                                                </td>
                                                <td style="width: 20%;">
                                                @foreignKey.getForeignKeyRelationList.size()
                                                </td>
                                                <td style="width: 20%;">
                                                @foreignKey.getCreatedAt
                                                </td>
                                                <td style="width: 20%;">
                                                @foreignKey.getModifiedAt
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        @b3.text(schemaDefForm("createdAt"), '_label -> "createdAt: ", 'disabled -> "")
                        @b3.text(schemaDefForm("modifiedAt"), '_label -> "modifiedAt: ", 'disabled -> "")


                        <button type="submit" class="btn btn-success pull-right">Save</button>
                    }
                </div>
            </div>
        </div>
    </div>
}
