@import forms.ForeignKeyRelationForm

@(foreignKeyRelationForm : Form[ForeignKeyRelationForm])(foreignKeyDefForm: Form[ForeignKey])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@main("ForeignKeyDef") {
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div class="pull-left">
        <h4 class="panel-title" style="padding-top: 5.5px;">
          <a href="@controllers.admin.routes.SchemaDefController.read(foreignKeyDefForm.get().getId)"><span class="glyphicon glyphicon-menu-left" aria-hidden="true" style="margin-right: 50px; color: dodgerblue"></span></a>
          View Foreign Key
        </h4>
      </div>
      <div class="btn-group pull-right">
        <a href="@controllers.admin.routes.ForeignKeyDefController.delete(foreignKeyDefForm.get().getId)" class="btn btn-default btn-sm" data-confirm="Are you sure?" data-method="delete"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red"></span></a>

        <!--TODO: EDIT VIEW
        <a href="@@controllers.admin.routes.TableDefController.updateView(tableDefForm.get().getId)" type="button" class="btn btn-default btn-sm">Edit</a>
        -->

      </div>
    </div>
    <div class="panel-body">
      <form class="form-horizontal">
        @b3.text( foreignKeyDefForm("id"), '_label -> "ID: ", 'disabled -> "")
        @b3.text( foreignKeyDefForm("name"), '_label -> "Name: ", 'disabled -> "")

        <!--TODO: get source and target table from foreignkey -->
        @@b3.text( foreignKeyRelationForm("sourceTable"), '_label -> "SourceTable: ", 'disabled -> "")
        @@b3.text( foreignKeyRelationForm("targetTable"), '_label -> "TargetTable: ", 'disabled -> "")
        <div class="form-group">
          <label class="control-label col-md-2">ForeignKeyRelations:</label>
          <div class="col-md-10">
            <div class="table-list-box">
              <table class="table table-hover table-list">
                <thead>

                  <!--TODO: Spalten der Relation Lists
                  <tr>
                    <th style="width: 7.5%;">
                      #
                    </th>
                    <th style="width: 7.5%;">
                      Id
                    </th>
                    <th style="width: 25%;">
                      Name
                    </th>
                    <th style="width: 20%;">
                      Datatype
                    </th>
                    <th style="width: 20%">
                      Is Primary
                    </th>
                    <th style="width: 20%">
                      Nullable
                    </th>
                  </tr>
                  -->

                </thead>

                <!-- TODO: Table Body with RelationList Information + append new for new RelationListEntry

                <tbody>
                @@for((columnDef, index) <- tableDefForm.get().getColumnDefList.zipWithIndex) {
                  <tr class="">
                    <td style="width: 7.5%;">
                    @@{index + 1}
                    </td>
                    <td style="width: 7.5%;">
                    @@columnDef.getId
                    </td>
                    <td style="width: 25%;">
                    @@columnDef.getName
                    </td>
                    <td style="width: 20%;">
                    @@columnDef.getDataType()
                    </td>
                    <td style="width: 20%;">
                    @@columnDef.isPrimary()
                    </td>
                    <td style="width: 20%;">
                    @@columnDef.isNotNull()
                    </td>
                  </tr>
                }
                </tbody>
                -->
              </table>
            </div>
          </div>
        </div>
        @b3.text( foreignKeyDefForm("createdAt"), '_label -> "createdAt: ", 'disabled -> "")
        @b3.text( foreignKeyDefForm("modifiedAt"), '_label -> "modifiedAt: ", 'disabled -> "")
      </form>
    </div>
  </div>
}