@(tasks: List[Task])
@main("List_Schema") {
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default panel-info">
                    <div class="panel-heading">
                        <a class="panel-title">
                            Schema
                        </a>
                    </div>
                    <div class="list-group">
                    @for(task <- tasks){
                        <a class="list-group-item">
                        @task.getText()
                        </a>
                    }
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Schema Details
                    </div>
                    choose schema to display details
                </div>
            </div>
        </div>
    </div>
}