@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@import services.SessionService
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/admin/">
        @* Here's where we render the page title `String`. *@
        <title>@title | SQL-Module </title>
        <link rel="stylesheet" media="screen" href="assets/lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" media="screen" href="assets/main.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    @if(request.username()) {
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="@controllers.admin.routes.HomeController.index()">SQL Module</a>
                    } else {
                        <a class="navbar-brand" href="@controllers.admin.routes.SessionController.login()">SQL Module</a>
                    }
                </div>
                @if(request.username()) {
                        <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="@controllers.admin.routes.SchemaDefController.readAll()">SchemaDef</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><p class="navbar-text">Signed in as @request().username()</p></li>
                            <li>
                                <div class="btn-nav">
                                    <a href="@controllers.admin.routes.SessionController.logout()" class="btn btn-danger navbar-btn btn-sm">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                }
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container">
            @content
        </div>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        <script src="assets/lib/jquery/jquery.min.js"></script>
        <script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <script>
                $(document).ready(function($) {
                    $(".clickable-row").click(function() {
                        window.location = $(this).data("href");
                    });
                    $('a[data-method="delete"]').click( function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        if(confirm($(this).attr("date-confirm"))) {
                            $.ajax({
                                url: $(this).attr("href"),
                                type: 'DELETE'
                            }).done(function(data) {
                                window.location.reload();
                            }).fail(function() {
                                console.log('failed');
                            });
                        }
                    })
                });
        </script>
    </body>
</html>
